<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col size="6">
          <img class="imagen"style="height: auto; max-width: 15vh;"src="assets/img/img1.jpeg">
          </ion-col>
          <ion-col>
            <ion-card-title>Brenda Arcentales</ion-card-title>
            <ion-card-subtitle>Estudiante de Desarrollo de Software</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-item-divider color="secondary">
          <ion-label >
            Perfil: 
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Estoy cursando el quinto semestre en la
            carrera de desarrollo de software de la
            escuela politecninca nacional y me
            gustaria ganar experiencia en el ambito
            laboral, soy una persona colaboradora,
            innovadora, curiosa y responsable que
            busca aprender y crecer tanto
            profesionalmente como personalmente</p> 
        </ion-item>
        <ion-item-divider color="secondary">
          <ion-label >
            Datos Personales: 
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-col size="6"><strong>Dirección:</strong></ion-col>
          <ion-col size="6">Alaska N18-41 y Asunción</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Teléfono Convencional:</strong></ion-col>
          <ion-col size="6">2506702</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Celular:</strong></ion-col>
          <ion-col size="6">0987202894</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Correo Eléctronico:</strong></ion-col>
          <ion-col size="6">brendaestefania4@hotmail.com</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Fecha y lugar de Nacimiento:</strong></ion-col>
          <ion-col size="6">Quito,29 de Octubre de 1998</ion-col>
        </ion-item>
        <ion-item-divider color="secondary">
          <ion-label >
            Formación: 
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-col size="6"><strong>Colegio Manuela Cañizares</strong></ion-col>
          <ion-col size="6">
            <p>Programa del diplima del IB</p>
            <p>Titulo en Bachiller en Ciencias</p></ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Escuela Politecnica Nacional</strong></ion-col>
          <ion-col size="6">Cursando quinto semestre en la carrera de tecnologia superior en software</ion-col>
        </ion-item>
        <ion-item-divider color="secondary">
          <ion-label >
            Habilidades: 
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-col size="6"><strong>C++:</strong></ion-col>
          <ion-col size="6">Alto</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>JavaScript:</strong></ion-col>
          <ion-col size="6">Alto</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Html/css:</strong></ion-col>
          <ion-col size="6">Alto</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Python:</strong></ion-col>
          <ion-col size="6">Medio</ion-col>
        </ion-item>
        <ion-item-divider color="secondary">
          <ion-label >
            Idiomas: 
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-col size="6"><strong>Español:</strong></ion-col>
          <ion-col size="6">Nativo</ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6"><strong>Inglés:</strong></ion-col>
          <ion-col size="6">Avanzado</ion-col>
        </ion-item>
        <ion-item-divider color="secondary">
          <ion-label >
            Hobbies e intereses: 
          </ion-label>
        </ion-item-divider>
        <ion-item><ion-col size="3"><ion-icon name="book-outline"></ion-icon></ion-col>Leer novelas de ciencia ficción</ion-item>
        <ion-item><ion-col size="3"><ion-icon name="desktop-outline"></ion-icon></ion-col>Programar</ion-item>
        <ion-item><ion-col size="3"><ion-icon name="camera-outline"></ion-icon></ion-col>Fotografía</ion-item>
        <ion-item><ion-col size="3"><ion-icon name="images-outline"></ion-icon></ion-col>Edición de fotos</ion-item>
      </ion-card>
    </ion-grid>
</ion-content>
